.section-contact-form h2 {
    padding: 80px 0 30px;
    font-size: 32px;
  }
  .section-contact-form-inner {
    width: 100%;
    input {
        display: block;
        color: $white;
        background: $none;
        width: 100%;
        text-align: center;
        padding: 10px;
        margin: 0 auto 6px;
        border: 1px solid $white;

        @include medium-up {
            width: 60%;
        }
    }
    textarea {
        display: block;
        width: 130px;
        height: 130px;
        color: $white;
        background: $none;
        width: 100%;
        text-align: center;
        margin: 0 auto 6px;
        border: 1px solid $white;

        @include medium-up {
            width: 60%;
            height: 200px; 
        }
    }
    button {
        padding: 10px 42px;
        color: $white;
        background: $none;
        text-transform: uppercase;
        font-size: 16px;
        border: 1px solid $white;
        margin: 0 auto 25px;
        transition: all 0.2s ease-in-out;
        &::hover {
            background: $accent;
        }
        @include medium-up {
            display: block;
        }
    }
  }
 